In [26]:
import csv, time
import pandas as pd
import altair as alt

In [207]:
df = pd.read_csv('ds_salaries.csv')

The dataset comes from Kaggle: https://www.kaggle.com/datasets/arnabchaki/data-science-salaries-2023

Data Science Job Salaries Dataset contains 11 columns, each are:

work_year: The year the salary was paid.   
experience_level: The experience level in the job during the year    
employment_type: The type of employment for the role    
job_title: The role worked in during the year.    
salary: The total gross salary amount paid.    
salary_currency: The currency of the salary paid as an ISO 4217 currency code.    
salaryinusd: The salary in USD    
employee_residence: Employee's primary country of residence in during the work year as an ISO 3166 country code.    
remote_ratio: The overall amount of work done remotely    
company_location: The country of the employer's main office or contracting branch    
company_size: The median number of people that worked for the company during the year

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

### 1. The Top 20 full-time job titles in the field of data science

In [209]:
# Filter all the full-time positions
full_time = df[df['employment_type'] == 'FT']
len(full_time)

3718

In [16]:
# Group by different job titles and get the count
job = full_time.groupby('job_title').size().reset_index()

In [20]:
job.rename(columns={'job_title': 'Job Title', 0: 'Count'}, inplace = True)

In [23]:
# Find out the Top 20 job titles in data science
top20 = job.sort_values('Count', ascending=False).head(20)

In [ ]:
top20

                     Job Title  Count
33               Data Engineer   1037
47              Data Scientist    836
25                Data Analyst    606
69   Machine Learning Engineer    288
4           Analytics Engineer    102
31              Data Architect    101
89          Research Scientist     82
45        Data Science Manager     58
8            Applied Scientist     58
88           Research Engineer     37
66                 ML Engineer     30
37                Data Manager     29
74  Machine Learning Scientist     25
42     Data Science Consultant     24
29      Data Analytics Manager     22
23    Computer Vision Engineer     16
12             BI Data Analyst     15
49             Data Specialist     14
17       Business Data Analyst     14
3                 AI Scientist     14

In [30]:
# Create a bar chart for the Top 20 full-time job titles in data science
alt.Chart(top20, title = 'Top 20 full-time job titles in data science').mark_bar(color = 'purple').encode(
    x = alt.X('Job Title:N', title = 'Job Titles', sort = '-y', axis=alt.Axis(labelAngle=-45)),
    y = alt.Y('Count', title = 'Count'),
    tooltip = 'Count'
).properties(width = 600, height = 300)

alt.Chart(...)

### 2. The top10 data science full-time and entry-level job titles with the highest salaries in average

In [41]:
entry_level = full_time[full_time['experience_level'] == 'EN']

In [214]:
entry_level['salary_in_usd'].median()

71953.5

In [210]:
job_salary = entry_level.groupby('job_title')['salary_in_usd'].median().reset_index()

In [46]:
top20_salary = job_salary.sort_values('salary_in_usd', ascending=False).head(20)

In [211]:
top20_salary

                            job_title  salary_in_usd
7                   Applied Scientist  167356.666667
26             Deep Learning Engineer  135000.000000
1                        AI Developer  130884.500000
4                  Analytics Engineer  130000.000000
12                       BI Developer  130000.000000
37                  Research Engineer  130000.000000
32         Machine Learning Scientist  129836.000000
16           Computer Vision Engineer  118333.333333
38                 Research Scientist  118280.888889
17  Computer Vision Software Engineer  110000.000000
25                    Data Specialist  105000.000000
36               Product Data Analyst  100000.000000
22               Data Quality Analyst  100000.000000
27             Financial Data Analyst  100000.000000
30          Machine Learning Engineer   93989.350000
20                      Data Engineer   91526.742424
9                          BI Analyst   76000.000000
24                     Data Scientist   73917.910714
29         Machine Learning Developer   73600.000000
3                        AI Scientist   69093.800000

In [213]:
# Create a bar chart for the Top 20 full-time & entry-level job titles with the highest salaries
basechart2 = alt.Chart(top20_salary, title = 'Top 20 full-time & entry-level job titles in data science with the highest salaries').mark_bar(color = 'grey').encode(
    x = alt.X('job_title:N', title = 'Job Titles', sort = '-y', axis=alt.Axis(labelAngle=-45)),
    y = alt.Y('salary_in_usd:Q', title = 'Annual Pay(USD)'),
    tooltip = 'salary_in_usd'
).properties(width = 600, height = 300)

basechart2

alt.Chart(...)

### 3. The change in full-time & entry-level annual salaries from 2020 to 2023

In [59]:
salary_3years = entry_level.groupby('work_year')['salary_in_usd'].agg(['min', 'max', 'median','mean'])

In [110]:
salary_change = pd.DataFrame(salary_3years, columns = ['Work Year', 'min', 'max', 'median','mean'])

In [107]:
#salary_change['median_float'] = salary_change['median'].astype(float)

In [111]:
salary_change['Work Year'] = ['2020','2021','2022','2023']

In [112]:
salary_change

          Work Year   min     max   median          mean
work_year
2020           2020  5707  250000  47582.0  59256.600000
2021           2021  5409  225000  59102.0  58755.060000
2022           2022  6270  300000  61566.0  77924.678261
2023           2023  7000  220000  85000.0  95946.401709

In [208]:
# Create a line chart for the 2020-2023 salary_change dataframe
# See the median and mean values

#Line chart for median
change_median = alt.Chart(salary_change, title = 'Change in annual salary in data science (2020-2023)').mark_line(color = 'blue').encode(
    x = alt.X('Work Year:N', title = 'Work Year', sort = 'y', axis=alt.Axis(labelAngle=0)),
    y = alt.Y('median:Q', title = 'Annual Pay(USD)'),
    tooltip = 'median'
).properties(width = 600, height = 300)

text_median = change_median.mark_text(
    color = 'blue',
    dy = 20
).encode(
    text = 'median'
)


#Line chart for mean
change_mean = alt.Chart(salary_change).mark_line(color = 'red').encode(
    x = alt.X('Work Year:N'),
    y = alt.Y('mean:Q'),
    tooltip = 'mean',
).properties(width = 600, height = 300)


text_mean = change_mean.mark_text(
    color = 'red',
    dy = -20
).encode(
    text = 'mean'
)


#Combine two charts in one
chart_median = change_median + text_median
chart_mean = change_mean + text_mean

basechart3 = alt.layer(chart_median, chart_mean)

basechart3

alt.LayerChart(...)

In [ ]:
# Get the percentage in chage in mean and median

### 4. Is there a difference in salary among remote/hybrid/on-site full-time positions in the US?

In [141]:
fulltime_US = full_time[full_time['company_location'] == 'US']

In [161]:
FTUS_count = fulltime_US.groupby('remote_ratio')['salary_in_usd'].count().reset_index()
FTUS_count.rename(columns = {'salary_in_usd': 'Count'}, inplace=True)
FTUS_count

   remote_ratio  Count
0             0   1668
1            50     39
2           100   1315

In [181]:
base = alt.Chart(FTUS_count).mark_arc().encode(
    theta=alt.Theta(field="Count", type="quantitative"),
    color=alt.Color(field="remote_ratio", type="nominal"),
)

In [194]:
pie = base.mark_arc(outerRadius=120)
text = base.mark_text(radius=140, size=20).encode(text="Count")
pie + text

alt.LayerChart(...)

In [148]:
FTUS_median = fulltime_US.groupby('remote_ratio')['salary_in_usd'].median()
FTUS_median

remote_ratio
0      145000.0
50     120000.0
100    145000.0
Name: salary_in_usd, dtype: float64

In [150]:
FTUS_mean = fulltime_US.groupby('remote_ratio')['salary_in_usd'].mean()
FTUS_mean

remote_ratio
0      153231.653477
50     134214.179487
100    151457.580228
Name: salary_in_usd, dtype: float64

### 5. What is the relation between company size and annual salary in full-time & entry-level roles?

In [199]:
FT_size = entry_level.groupby('company_size')['salary_in_usd'].median().reset_index()
FT_size['company_size'] = ['Large','Medium','Small']
FT_size

  company_size  salary_in_usd
0        Large        59888.0
1       Medium        80000.0
2        Small        55205.0

In [206]:
basechart4 = alt.Chart(FT_size, title = 'Company Size and Annual Salary').mark_bar(color = 'grey').encode(
    x = alt.X('company_size:N', title = 'Company Size', axis=alt.Axis(labelAngle=0)),
    y = alt.Y('salary_in_usd:Q', title = 'Annual Pay(USD)'),
    tooltip = 'salary_in_usd'
).properties(width = 600, height = 300)

text4 = basechart4.mark_text(
    color = 'black',
    dy = 20
).encode(
    text = 'salary_in_usd'
)

basechart4 + text4

alt.LayerChart(...)